<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

<div>
    <header class="header header-6">
        <a routerLink="login"><button md-button class="btn1">Login</button></a>
        <a routerLink="charts"><button md-button class="btn1">Charts</button></a>
        <a routerLink="search"><button md-button class="btn1">Search</button></a>
        <a routerLink="profile"><button md-button class="btn1">Profile</button></a>
    </header>
    <div class="content-container">
        <div class="content-area">

        </div>
    </div>
</div>